@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Making Healt Care Better Together</h1>
        <p>In You Healt <a asp-controller="Account" asp-action="Login">Sing In</a> or <a asp-controller="Account" asp-action="Register">Register</a>.</p>
    </div>
</body>
<style>
body { background-image: url('https://miro.medium.com/max/1160/1*nlL2WkDbqJ58716aoFqZKA.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; }
</style>